<HTML>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
            <link rel="icon" href="/img/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Arun. It uses data from mapbox.com and darksky.net</p>
            <img src="./img/try.jpeg" alt="Nature image" class="portrait other">
        </div>
        {{>footer}}
    </body>
</HTML>